

#billing_container{
    margin: var(--center-align);
}
.payment_option{
    min-width: 312px;
    width: 70%;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    
}

.bill_left{
    width: 45%;
    height: fit-content;
}

.payment_option, .name2{
    width: 100%;

}

.pay_with, .row{
    display: flex;

}

.pay_with_title{
    padding: 0.25em;
}

.pay_opt{
    display: flex;
    width: 50%;
    border: 1px solid var(--color-dominant);
    justify-content: center;
    align-items: center;
}

.pay_vm{
    border-top-left-radius: var(--btn-radius-high);
    border-bottom-left-radius: var(--btn-radius-high);
}
.pay_pp{
    border-top-right-radius: var(--btn-radius-high);
    border-bottom-right-radius: var(--btn-radius-high);
}

.billing_content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 7%;
    row-gap: 30px;
}


.card_form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card_form , .billing_content > .order_sum{
    border: 1px solid var(--color-dominant);
    border-radius: var(--btn-radius-high);
    padding: 2.5rem 1rem;  
    
}

.billing_content > .order_sum{
    height: fit-content;
}

.card_form >*+*{
    margin-top: 1.5rem; 
}

.name{
    width: 100%;
    margin-right: 2rem;
}

.input{
    width: 100%;
    height: 3rem;
    border: 1px solid;
    border-radius: var(--border-radius-gentle);
    margin-top: 0.5rem;
    padding-left: 20px;
}


.input_name{
    color: var(--color-text-complement);    
}

.expiry{
    width: 25%;
}

.billing_name::after{
    content: "*";
    color: red;
}

