#results_page{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: var(--center-align);   
}

.product_list_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 10px; 

    
}

.prodlist_card{
    max-width: 350px;
    max-height: 434px;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img img"
    "img img" "img img" "img img" "img img" "name price" "desc desc" "btn btn";
    justify-items: start;
    align-items: end;
}

.card_btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.prod_list_img{
    grid-area: img;  
    width: 350px;
}

.prod_title{
    grid-area: name;

}

.heart_filled{
    border: 1px solid var(--color-primary);
    padding: 2px 5px; 
}
.prod_list_seemore{
    border-radius: var(--border-radius-gentle) ;
}

.prodlist_desc{
    grid-area: desc;
    align-self: start;
    margin-top: var(--spacing-title-desc);
}
.prodlist_price{
    grid-area: price;
    justify-self: end;
}

.card_btn{
    grid-area: btn;
    margin-bottom: 5px;
    justify-self: end;
}

.page_nav{
    display: flex;
}

.filter_list{
    margin: 30px 0px;
}

.filter_list > *+*{
    margin: 5px;
}

.current_page{
    color: var(--color-text-tertiary);
}

.dropdown{
    padding-left: 8px;
}

.filter_btn{
    padding-left: 1em;
    padding-right: 1em;
}

.page_num{
    align-self: center;
}
