

:root{

    /*element colour*/
    --color-primary: #0E1F65 ;      /*primary*/
    --color-secondary: #878FB2;     /*footer, btn*/
    --color-tertiary: #D3D3D3;      /* nav bar*/



    /*general text colour*/
    --color-text-primary: #000000;  /*headings, product titles*/
    --color-text-secondary: #828582;    /* grey text (desc) colour*/
    --color-text-tertiary: #0E1F65;     /*btn txt, price, nav title, catcard name, mission txt*/
    --color-text-white: #FFFFFF;        /*banner */



    /* Allocating text colours */
    --color-text-heading: var(--color-text-primary);        /*title*/
    --color-text-body: var(--color-text-primary);       /*sect heading, feature, footer, nav*/
    --color-text-subtitle: var(--color-text-primary);       /*subtitles*/
    --color-text-bluebg: var(--color-text-white);       /*txt agains blue bg (banner)*/
    --color-text-desc: var(--color-text-secondary);     /*prod desc*/
         

    /* dividers */
    --color-divider: var(--color-primary);      /* section, product divider colour*/


    /* button colours */
    --btn-txt-primary:var(--color-primary);         /*blue text*/
    --btn-primary-bg: var(--color-text-white);      /*bg white*/
    --btn-txt-hover: var(--color-text-white);       /* white text*/
    --btn-bg-hover: var(--color-primary);           /* bg blue*/

    --btn-cat-bg-primary: var(--color-primary);     /*cat name bg to BLUE BUTTONM*/
    --btn-cat-bg-secondary: var(--color-tertiary);     /*cat name bg to GRAY BUTTON*/
    --btn-cat-txt-secondary: var(--color-primary);      /*cat name txt to blue GRAY BUTTON*/
    --btn-cat-txt-primary: var(--color-text-white);     /*cat name txt to white BLUE BUTTON*/




/* layouts: padding and margins */

    --padding-center: 15%;
    --center-align: 35px 15%;    /* margin*/
    --center-align-respon: 150px 15%           /* responsive section margins*/



}