



/* --------------Hero page section---------------- */


/* hero section container */
.hero{
    background-image: url("css/desktopBG.png");
    min-width: 390px;
    height: 700px;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* shop now button */

.hero>a{
    text-align: center;
    width:fit-content;
    padding: 0.6em 1.8em;

    margin: 3rem 30% 0 auto;

}
/* .hero > a{ 
    margin-top: 10px;
    margin-bottom: 3em;;
    margin-left: auto;
    margin-right: 8%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

/* hero text: heading, cta */

.sidebar{
    margin-top: 13rem;
    margin-right: 5%;
}
/* .sidebar{
    margin-top: 10em;;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: 8%;
} */

.sidebar >*{
    text-align: right;
}


/* universal section divider banner */
.banner{
    display: flex;
    flex-wrap: nowrap;  
    overflow: hidden;
    text-overflow: clip; 
    background-color: var(--color-primary);
    color: var(--color-text-bluebg);
    padding: 10px;
   
}

.banner > *+*{
    margin-left: 2em;
}

.banner > span{
    text-wrap: nowrap;
}



/*--------------- FEATURE SECTION ---------------*/

.feature_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;   
    margin: var(--center-align);  
    gap: 20px; 
}

.feature{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 30px;
}

.vertical{
    border-left: 2px solid black;
    height: 112px;
    align-self: center;
    
}

.cluster--end-aligned{
    align-items: flex-end;
}  

.feature_title{
    font-size: var(--fs-s);
    font-weight: var(--regular);
    text-align: center;
}

.feature_img{
    width: 3em;
}

.feat_desc{

    text-align: center;
}

.next{
    height: 100vh;
}


/* ------------Sections: TRENDING CARD -------------*/

.sect_banner{
    border: 3px solid var(--color-primary);
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px var(--padding-center);
    flex-wrap: wrap;
    gap: 10px;
}

.sect_title{
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.sect_txt{  
    text-wrap: nowrap;
    font-size: var(--fs-l);
}

.sect_icon{
  
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
   
}

#trending_card{
    box-sizing: content-box;
}

/* cards */
.card_container{
    display: flex;   
    margin: var(--center-align);
    overflow: scroll;
    max-height: 650.9px;
    gap: 0px; 
    justify-content: space-between;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.card_container ::-webkit-scrollbar{
    display: none;
}



/* price and heart div */
.price_heart{
    display: flex;
    justify-content: space-between;
    padding-top:1.5em;
    padding-bottom: 1em;;
    align-items: center;
}

.price{
    color: var(--color-primary)
}


/* individual product item/ cards in container */
.card{
    padding: 10px 10px;
    max-width: 230px; 
    min-width: 230px;  
    flex: 0 0  auto;
}



.card > *+*{
    margin: 10px 0;
}

.card_title{    /*product name*/
    padding-bottom: 0px;
    height: 2.5em;
    line-height: var(--linespace-main);
    color: var(--color-text-primary);

}

.card2_title{
    height: 1em;
}







/*------------ our mission section -----------*/

.mission_container{
    display: flex;
    flex-direction: column;  
    margin: var(--center-align); 
    padding-bottom:2em;
    gap: 40px;
  
}

.mission_box{
    display: flex; 
    border: 2px solid var(--color-primary);
    padding-right: 1.5em;  
    border-radius: var(--btn-radius-higher);
    gap: 1.5em; 
    align-items: center; 
}


 .miss_num{
    
    background-color: var(--color-primary); 
    color: var(--color-text-bluebg); 
    padding: 1.5em;
    border-radius: 12px 0 0 12px ;

} 

.num_container{

    display: flex;
    align-items: center;
    height: 100%;
    border-radius:var(--btn-radius-higher) 0 0 var(--btn-radius-higher) ;
}

.miss_txt{      /*mission statement*/
    font-size: var(--fs-m);
    font-weight: var(--regular);
    color: var(--color-primary);
    padding: 1em;
    padding-right:2em ;
}

#box_2{
    align-self: center;
}
#box_3{
    align-self: flex-end;
}



/*------------SHOP BY CATEGROIES SECTION----------  */

.shopby_container{
    display: flex;
    flex-wrap: wrap;
    margin: var(--center-align);
    justify-content: center;
    overflow: hidden;

}

/* img+catname */
.cat_card{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    position: relative;
}

/* re-position cat_name to overlap image */
.cat_card > a{
    position: absolute;
}
.cat_btn{
    position: relative;
    z-index: 2;
  top:280px;
}

.cat_img{
    z-index: 1;
    /* width: 100% */
}


/* ------------PERSONALISE CARDS SECTION ------------*/

.personalise_container{
    display: flex; 
    margin: var(--center-align);
    margin-top: 1em;
    /* margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px; */
    overflow: scroll;
    justify-content: space-between;  
    overflow-y: hidden;
}

/* individual product card in container */
.person_card{
    padding: 10px 10px;
    max-width: 389px;
    min-width: 369px;
   
}

.person_img{
    width:100%;
}


.sect_desc{
    /* margin-left: 15%;
    margin-top: 20px; */
    margin: 1em 15% 0 15%;
}

/* ------ INDEX END------ INDEX END------ INDEX END------ INDEX END------ INDEX END------ INDEX END------ INDEX END------ INDEX END */


@media screen and (max-width: 753px){
   .feature_container{
    flex-wrap: nowrap;
    margin: var(--center-align);
   }

   .feature{
    padding-top: 0;
    gap: 0.5em;
   }
   .feature_img{
    width: 2em;
   }

   .feat_desc{
    font-size: var(--fs-xxs);
   }
   .feature_title{
    font-size: var(--fs-xs);
   }


}





