#cart_page{
    height: 100vh;
}
#cart_container{
    
    margin: var(--center-align);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7%;
    row-gap: 30px;

}




.nav_entries{
    width: 575px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    gap: 30px;
    

}

.item_container{
    display:flex;
    flex-direction: column;
    
    gap: 20px;
}

.cart_entry, .entry_item{

    display:flex;
    flex-direction: row;
    justify-content: space-between;  

}

.entry_item> img{
    width: 250px;
    padding-left: 0;
    padding-right: 2em;
}

.cart_info> p{
    width: 80%;

}

.cart_info > *{
    padding-top: 1em;
}

.order_sum{
    width: 575px;
    padding-top: 50px;     

}

.order_sum > *, .sum_info >p{
    padding-top: 10px;
    
}

.cart_close{
    padding-top: 1rem;
}

