/* importing css files */

 /*colour styles*/
@import url("css/colours.css");      

 /*font styles*/
@import url("css/typography.css");    

/* BEM class presets */
@import url("css/presets.css");         


@import url("css/search-results.css");

@import url("css/home.css");

@import url("css/item-page.css");

@import url("css/Cart.css");

@import url("css/Billing-page.css");

@import url("css/order-confirmation.css");








/* -----------------------NAVIGATION------------------- */

.navbar{
    background-color: var( --color-accent);  
    padding-bottom: 10px;  
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.left_resnav{
    display: flex;
    align-items: center;

}

#check, #hamburger, #close{
    display: none;
}



/* navigation top half */
.top_nav{       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
    padding-left:  var(--padding-center);
    padding-right: var(--padding-center);  
    padding-top: 20px;
  
}

/* line */
.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-text-desc);
    margin-bottom: 1em;
    margin-left: var(--padding-center);
    margin-right: var(--padding-center);   
}



/* <logo -> language> */
.top_nav > *{
    margin:0.5rem;

}

.logo{
    width: 2.5rem;
}

.res_logo{
    display: none;
}

/* <logo -> categories> */
.nav_navigation{
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}


/* spacing between nav categories */
.nav_navigation > *+*{
    padding: 0.5em 1.5rem;
}


/* navigation names: shop all, trending... */
.navbtn{
    color: var(--color-text-dominant);
    text-decoration: none;
    text-wrap: nowrap;
}

.navbtn:hover{
    color: var(--color-complement);
}

.nav_language{
    font-size: var(--fs-xxs);
    color: var(--color-text-desc);
}

.nav_separator{
    display: none;
}

/* nav bottom half */
.bot_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em var(--padding-center);
    margin: 0.5em;
    margin-top:0;
    flex-wrap: wrap;
}
.res_logo{
    display: none;
}

.search_items{
    display: flex;
    align-items: center;
    width: 80%;
    /* border: 2px solid green; */
}

.search_bar{
    text-transform: capitalize;
    padding-left: 20px;
}

.search_items > input{
    width:70%;
    height: 3em;
    border-radius: 10px;
    border-color: var(--color-text-desc);
}


.search_icon{
    margin: 0 0.25em;
    width: 2rem;
}

.nav_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content 
}

.nav_user > a > img{    
    width: 2rem;  
    margin: 0 0.25em;
} 


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: black;
}






/* ------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START*/

footer{
    background-color: var(--color-complement) ;
    width: 100vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    gap: 50px; 
    margin-top: 10rem;  
}

.foot_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5em;
    margin: 0 5%;
    
}

.foot_cat> *+*{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.foot_sub{
    font-size: var(--fs-s);
    font-weight: var(--demibold);
}

#foot_title{
    font-size: var(--fs-l);
    font-weight:var(--xbold);
}


.foot_icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.social{
    width: 1.5em;
}

.foot_nav{
    font-size: var(--fs-xs);
    color: var(--color-text-dominant);
    text-decoration: none;
    
}

/* ------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END */






/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  */


/* feature lines disappear */

@media screen and (max-width: 1210px ){
    .vertical{
        display: none;
    }
}  



/* remove navigation bar features */
@media screen and (max-width: 1204px ){
    .nav_language{
        display: none;
    }
} 



@media screen and (max-width: 909px){
    .nav_navigation>a{
        font-size: var(--fs-s);
        text-wrap: nowrap;
    }
    
    /* home page */

    .hero{
        height: 500px;
    }
    
    /* categories resizing */
    .cat_card{
        width: 50%; 
    }
    
    .cat_btn{
         top:121.77px;
         right: 32px;
        border-radius: var(--btn-radius-medium);
        width: 115px;
        margin: 0 0 7px 7px; 
        
    } 

    .cat_img{
        z-index: 1;
         width: 100% ;
         position: relative;
    }

}  



@media screen and (max-width: 390px){

    
/* hero */
#background, #results_header{
    background-image: url("images/mobileheader.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* home page header responsiveness  */
.hero{
    background-image: none;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
    height: 80%;
}

.hero>a{
    margin: 1rem 5% 2rem auto;

}

.hero{
    height: 350px;
}


/* add to cart popup background */
.popup_background{
    top: 115px;
}




/* search results page */

#results_header{
    height: 30vh;
}

.filter_list{
    display: none;
}

.res_filter{
    display: flex;
    border: 2px solid var(--color-dominant);
    border-left: none;
    border-right: none;
    width: 100vw;
}


.filter_vertical{
    border-left: 2px solid black; 
    align-self: center;
    padding: 0;
    height: 100%
}

.res_filter_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.filter_btn {
    padding: 1em;
    text-decoration: none;
    color: var(--color-text-dominant);
    
}

.page_nav{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.product_list_container{
    row-gap: 0;
    width: 100vw;


}
    
.prodlist_card1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 185px;
    width: 100vw;
    /* border: 2px solid green; */
    grid-template-areas: "name price img img" "desc desc img img" 
    "desc desc img img" "btn btn img img";
    background-color: #D3D3D380;

}

.results_container{
    margin: 25px 0;
}

.prodlist_card2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 185px;
    width: 100vw;
    grid-template-areas: "img img price name" "img img desc desc" 
    "img img desc desc" "img img btn btn";

}

.prodlist_price2{
    grid-area: price;
    align-self: start;
    justify-self: start;
    margin-top: 1.5em;
}


.heart_filled>img{
    width: 1em;
}
.heart_filled{
    padding: 0.5em;
    margin: 1em;
}

.prod_title1{
    grid-area: name;
    grid-area: 1 / 1 / 2 / 3; 
    width: 90%;

}

.prod_title2{
    grid-area: 1 / 3 / 1 / 5;
    text-align: right;
    justify-self: end;  

}

.prodlist_desc2{
    grid-area: desc;
    align-self: start;
    justify-self: end;
    margin-top: var(--spacing-title-desc);
}

.prod_list_img{
    padding: 10px;
    max-width: 176px;
    max-height: 160px;
}

.prod_title1, .prod_title2{
    padding: 1em 1em 0 1em;
}

.prodlist_desc2, .prodlist_desc1{
    padding: 0 1em 0 1em;
}




}




@media screen and (max-width: 753px){

    body{
        margin: 0%;
    }

/*------- feature responsiveness------- */
        
    /* FEATURE SECTION reduce size and no wrap */
   .feature_container{
    flex-wrap: nowrap;
    margin: var(--center-align);
   }

   .feature{
    padding-top: 0;
    gap: 0.5em;
   }
   .feature_img{
    width: 2em;
   }

   .feat_desc{
    font-size: var(--fs-xxs);
   }
   .feature_title{
    font-size: var(--fs-xs);
   }






/* item page */
    #prod_page{
        margin: var(--center-align-respon);
    }
    #cart_container, #billing_container, .confirm_container{
        margin-top: 150px;
    }
 
    .card_title{
        height: 1.5em;
    } 

    .prodlist_price1, .prodlist_price2 {
     margin-top: 1.5em;
     padding-top: 0;
    }

    .prodlist_desc1, .prodlist_desc2{
        margin-top: 0;
    }

    .results_container{
        gap: 20px;
    }

    .prod_title1, .prod_title2{
        height: fit-content;
    }


    /* -----navbar responsiveness----- */

    /* align search icon with cart and profile icons */
    .bot_nav{
        justify-content: flex-end;
        flex-wrap: nowrap;
        padding: 30px 2.5%;

    }
    .search_items{
        justify-content: space-between;
    }

    .res_logo{
        display: inline;
        margin-left: 45px;
    }

    .hamburger{
        display: block;
        position: absolute;
        left: 30px;
        z-index: 9999;

    }

    /* responsive hamburger menu */
    .hamburger.change{
        position: fixed;
    }
    .hamburger.change .bar:nth-child(2){
        opacity: 0
    }
    .hamburger.change .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.change .bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg)

    }

    .logo, .search_bar, .line{
        display: none;
    }

    .nav_navigation{
        position: fixed;
        z-index: 999;
        display: none;
        top: 0px;
        gap: 0;
        left: 0px;
        flex-direction: column;
        background-color: rgba(211, 211, 211, 0.6);  
        backdrop-filter: blur(10px) ; 
        text-align: left;
        transition: 0.3s;
        height: 325px;
        width: 100vw;
        margin: 0;
        
    }

    .navbtn{
        margin: 16px 0;

    }

    .nav_navigation>a{
        font-size: var(--fs-xs);
        font-weight: var(--demibold);
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .nav_navigation.change{
        display:flex;
        padding: 20% 40px;
        align-items: flex-start;

        
    }


    .navbar{
        background-color: #D3D3D380;
        height: 115px;
        position: absolute;
        justify-content: center;
    }
    .nav_separator{
        display: flex;
        border: 0;
        border-top: 1px solid black;
        width: 100%;
    }


/*------ nav responsive end ------*/



/* miscellaneous styling */
    .txt1{
        font-weight:var(--demibold) ;
        margin-bottom: 0.5rem;
    }

    .btn--mainbtn{
        font-size: var(--fs-s);
    }

    /* feature list separator */
    .vertical{
        display: flex;
        border-width: 1px;
        height: 80px;
    }
    

    /* see more btns */
    .btn--small{
        display: flex;
        align-items: center;
        padding: 0.25em 1em;
        border-radius: var(--border-radius-gentle);
    }


    .card > *+* {
        margin: 0.25em 0px;
    }

    .sect_banner{
        border-width: 2px;
        padding: 15px 10%;
    }

}  


@media screen and (max-width: 889px){

    .slider_wrapper, .prod_info{
        width: 100vw;
    
    }

    .rv_container, .recently_viewed{
        display: none;
    }
    

}











