/* importing css files */
@import url(colours.css);       /*colour styles*/

@import url(typography.css);     /*font styles*/

@import url(https://info20005.github.io/Layout-Composition/reset.css);

@import url(presets.css);

@import url(search_results.css);

@import url(home.css);

@import url(item_page.css);

@import url(Cart.css);

@import url(Billing_page.css);

@import url(order_confirmation.css);





/* ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML*/

/* -----------------------NAVIGATION------------------- */

.navbar{
    background-color: var( --color-tertiary);  
    padding-bottom: 10px;  
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.left_resnav{
    display: flex;
    align-items: center;

}

#check, #hamburger, #close{
    display: none;
}



/* navigation top half */
.top_nav{       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
    padding-left:  var(--padding-center);
    padding-right: var(--padding-center);  
    padding-top: 20px;
  
}

/* line */
.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-text-desc);
    margin-bottom: 1em;
    margin-left: var(--padding-center);
    margin-right: var(--padding-center);   
}



/* <logo -> language> */
.top_nav > *{
    margin:0.5rem;

}

.logo{
    width: 2.5rem;
}


/* <logo -> categories> */
.nav_navigation{
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}


/* spacing between nav categories */
.nav_navigation > *+*{
    padding: 0.5em 1.5rem;
}


/* navigation names: shop all, trending... */
.navbtn{
    color: var(--color-text-primary);
    text-decoration: none;
    text-wrap: nowrap;
}

.nav_language{
    font-size: var(--fs-xxs);
    color: var(--color-text-desc);
}


/* nav bottom half */
.bot_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em var(--padding-center);
    margin: 0.5em;
    margin-top:0;
    flex-wrap: wrap;
}
.res_logo{
    display: none;
}

.search_items{
    display: flex;
    align-items: center;
    width: 80%;
    /* border: 2px solid green; */
}

.search_bar{
    text-transform: capitalize;
    padding-left: 20px;
}

.search_items > input{
    width:70%;
    height: 3em;
    border-radius: 10px;
    border-color: var(--color-text-desc);
}


.search_icon{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.5rem;
}

.nav_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem; 
}

.nav_user > a > img{    
    width: 1.5rem;  
} 







/* ------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START*/

footer{
    background-color: var(--color-secondary) ;
    width: 100vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    gap: 50px; 
    margin-top: 10rem;  
}

.foot_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5em;
    margin: 0 5%;
   
  
    
}

.foot_cat> *+*{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.foot_sub{
    font-size: var(--fs-s);
    font-weight: var(--demibold);
}

#foot_title{
    font-size: var(--fs-l);
    font-weight:var(--xbold);
}


.foot_icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.social{
    width: 1.5em;
}

.foot_nav{
    font-size: var(--fs-xs);
    color: var(--color-text-primary);
    text-decoration: none;
    
}

/* ------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END */














/* MEDIA QUERIES FOR INDEX.HTML:
- make title, subtitle smaller USE RESPONSIVE TYPOGRAPHY (12.5 lecture)
- responsive nav bar 
- hide lines in feature
- fix section banenrs
- resize boxes for mission statements
- footer resize
*/


/* feature line disappear */

@media screen and (max-width: 1210px ){
    .vertical{
        display: none;
    }
}  



/* remove navigation bar features */
@media screen and (max-width: 1204px ){
    .nav_language{
        display: none;
    }
} 



@media screen and (max-width: 909px){
    .nav_navigation>a{
        font-size: var(--fs-s);
        text-wrap: nowrap;
        
    } 

}  

/*----- header responsiveness, trending card page -----*/


@media screen and (max-width: 390px){
#background, #results_header{

    background-image: url("images/mobileheader.png");
    background-size: cover;
    
    background-repeat: no-repeat;


}


/* trending cards header responsiveness */
#results_header{
    height: 26vh;
}

.filter_list{
    display: none;
}

.res_filter{
    display: flex;
    border: 2px solid var(--color-primary);
    border-left: none;
    border-right: none;
    width: 100vw;
}



.filter_vertical{
    border-left: 2px solid black; 
    align-self: center;
    padding: 0;
    height: 100%
}

.res_filter_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.filter_btn {
    padding: 1em;
    text-decoration: none;
    color: var(--color-text-primary);
    
}

.page_nav{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.product_list_container{
    row-gap: 0;
    width: 100vw;


}
    
.prodlist_card1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 185px;
    width: 100vw;
    /* border: 2px solid green; */
    grid-template-areas: "name price img img" "desc desc img img" 
    "desc desc img img" "btn btn img img";
    background-color: #D3D3D380;

}

.results_container{
    margin: 25px 0;
}
.prodlist_card2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 185px;
    width: 100vw;
    /* border: 2px solid green; */
    grid-template-areas: "img img price name" "img img desc desc" 
    "img img desc desc" "img img btn btn";

}

.prodlist_price2{
    grid-area: price;
    align-self: start;
    justify-self: start;
    margin-top: 1.5em;
}


.heart_filled>img{
    width: 1em;
}
.heart_filled{
    padding: 0.5em;
    margin: 1em;
}

.prod_title1{
    grid-area: name;
    grid-area: 1 / 1 / 2 / 3; 
    width: 90%;

}

.prod_title2{
    grid-area: 1 / 3 / 1 / 5;  
    /* text-wrap: balance; */
    /* border: 2px solid black; */
    
    text-align: right;
    justify-self: end;  

}

.prodlist_desc2{
    grid-area: desc;
    align-self: start;
    justify-self: end;
    margin-top: var(--spacing-title-desc);
}

.prod_list_img{
    padding: 10px;
    max-width: 176px;
    max-height: 160px;
}

.prod_title1, .prod_title2{
    padding: 1em 1em 0 1em;
}

.prodlist_desc2, .prodlist_desc1{
    padding: 0 1em 0 1em;
}

.prod_list_seemore{
    width:fit-content;
    padding: 0.5em 1em;
    margin: 1rem;
}


/* home page header responsiveness  */
.hero{
    background-image: none;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
    height: 80%;
}






}


@media screen and (max-width: 753px){

    body{
        margin: 0%;
    }

    /* -----navbar responsiveness----- */
    .nav_navigation>a, .line, .search_bar, .banner{
        display:none;
    }

    /* align search icon with cart and profile icons */
    .bot_nav{
        justify-content: flex-end;
        flex-wrap: nowrap;

    }
    .search_items{
        justify-content: space-between;
        width: 100%;
        
    }

    .res_logo{
        display: inline;
    }

    #hamburger, #close{
        display: inline;
    }


    .navbar{
        background-color: #D3D3D380;
    }









    .txt1{
        font-weight:var(--demibold) ;
        margin-bottom: 0.5rem;
    }

    .btn--mainbtn{
        font-size: var(--fs-s);
    }

    /* feature list separator */
    .vertical{
        display: flex;
        border-width: 1px;
        height: 80px;
    }
    

    /* see more btns */
    .btn--small{
        display: flex;
        align-items: center;
        padding: 0.25em 1em;
        border-radius: var(--border-radius-gentle);
    }


    .card > *+* {
        margin: 0.25em 0px;
    }

    .sect_banner{
        border-width: 2px
    }


}  
@media screen and (max-width: 889px){

    .slider_wrapper, .prod_info{
        width: 100vw;
    
    }

    .rv_container{
        display: none;
    }
    
    





}





/* nav bar responsive */
/* 
@media screen and (max-width : 670px){

    .menu_icon{
        display: inline-flex;
    }

    #check:checked~.menu_icons #hamburger{
        display: none;
    }
    #check:checked~.menu_icons #close{
        display: block;
    }

    .navbar{
        position: absolute;
        top:10;
        left:0;
        width: 100%;
        height: calc(100vh - 158px);
        background-color: rgba(0,0,0,0.1);
        backdrop-filter: blur(40px)
    }



    .nav_navigation{
        display: flex;
        flex-direction: column;
        margin:0;
        padding:9;
        align-items: flex-start;
        margin-top: 7rem;
    }

    .nav_navigation > .navbtn{
        margin-top:0;
        margin-bottom: 3rem;
        padding:0;
        font-size: var(--fs-m);
        font-weight: var(--regular);
    }

    .menu_icon #close{
        display: none;
    } 



    .bot_nav, .line, .nav_language, .logo{
        display: none;
    }



} */











