/* importing css files */
@import url(colours.css);       /*colour styles*/

@import url(typography.css);     /*font styles*/

@import url(https://info20005.github.io/Layout-Composition/reset.css);

@import url(presets.css);

@import url(search_results.css);

@import url(home.css);

@import url(item_page.css);

@import url(Cart.css);



/* ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML ---INDEX.HTML*/

/* -----------------------NAVIGATION------------------- */

.navbar{
    background-color: var( --color-tertiary);  
    padding-bottom: 10px;  

}

.menu_icon{
    cursor: pointer;
    display: none;
    position: absolute;
    top:5rem;
    left: 2.5rem;
}

#check{
    display: none;
}

/* navigation top half */
.top_nav{       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
    padding-left:  var(--padding-center);
    padding-right: var(--padding-center);  
    padding-top: 20px;
  
}

/* line */
.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-text-desc);
    margin-bottom: 1em;
    margin-left: var(--padding-center);
    margin-right: var(--padding-center);   
}



/* <logo -> language> */
.top_nav > *{
    margin:0.5rem;

}

.logo{
    width: 2.5rem;
}


/* <logo -> categories> */
.nav_navigation{
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}


/* spacing between nav categories */
.nav_navigation > *+*{
    padding: 0.5em 1.5rem;
}


/* navigation names: shop all, trending... */
.navbtn{
    color: var(--color-text-primary);
    text-decoration: none;
    text-wrap: nowrap;
}

.nav_language{
    font-size: var(--fs-xxs);
    color: var(--color-text-desc);
}


/* nav bottom half */
.bot_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em var(--padding-center);
    margin: 0.5em;
    margin-top:0;
    flex-wrap: wrap;
}

.search_items{
    display: flex;
    align-items: center;
    width: 80%;
    /* border: 2px solid green; */
}

.search_items > input{
    width:70%;
    height: 3em;
    border-radius: 10px;
    border-color: var(--color-text-desc);
}

.search_icon{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.5rem;
}

.nav_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem; 
}

.nav_user > a > img{    
    width: 1.5rem;  
} 

/* navbar breakpoints */
/* @media screen and (max-width : 992px){

    a.navbtn{
        font-size: var(--fs-xs);
        padding:2vw;
    }

    .top_nav > .nav_language{
        font-size: var(--fs-xxxs);
    }

    .nav_user > a > img{
      
        height: 1.5rem;
        
    } 

} */





/* ------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START------ FOOTER START*/

footer{
    background-color: var(--color-secondary) ;
    width: 100vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    gap: 50px;   
}

.foot_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5em;
    margin: 0 5%;
   
  
    
}

.foot_cat> *+*{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.foot_sub{
    font-size: var(--fs-s);
    font-weight: var(--demibold);
}

#foot_title{
    font-size: var(--fs-l);
    font-weight:var(--xbold);
}


.foot_icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.foot_nav{
    font-size: var(--fs-xs);
    color: var(--color-text-primary);
    text-decoration: none;
    
}

/* ------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END------ FOOTER END */














/* MEDIA QUERIES FOR INDEX.HTML:
- make title, subtitle smaller USE RESPONSIVE TYPOGRAPHY (12.5 lecture)
- responsive nav bar 
- hide lines in feature
- fix section banenrs
- resize boxes for mission statements
- footer resize
*/


/* feature line disappear */

@media screen and (max-width: 1210px ){
    .vertical{
        display: none;
    }
}  



/* remove navigation bar features */
@media screen and (max-width: 1204px ){
    .nav_language{
        display: none;
    }
} 



@media screen and (max-width: 909px){
    .nav_navigation>a{
        font-size: var(--fs-s);
        text-wrap: nowrap;
        
    } 

}  

@media screen and (max-width: 390px){
#background{

    background-image: url("images/mobileheader.png");
    background-size: cover;
    
    background-repeat: no-repeat;


}
.hero{
    background-image: none;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
    height: 80%;
}
}


@media screen and (max-width: 753px){

    body{
        margin: 0%;
    }
    .nav_navigation>a, .line, .search_bar, .banner{
        display:none;
    }

    /* align search icon with cart and profile icons */
    .bot_nav{
        justify-content: flex-end;
        flex-wrap: nowrap;

    }
    .search_items{
        justify-content: flex-end;
        
    }



    .navbar{
        background-color: #D3D3D380;
    }


    .txt1{
        font-weight:var(--demibold) ;
        margin-bottom: 0.5rem;
    }

    .btn--mainbtn{
        font-size: var(--fs-s);
    }

    .vertical{
        display: flex;
        border-width: 1px;
        height: 80px;
    }
    
    .btn--small{
        display: flex;
        align-items: center;
        padding: 0.25em 1em;
        border-radius: var(--border-radius-gentle);
        

    }

    .card > *+* {
        margin: 0.25em 0px;
    }


}  





/* nav bar responsive */
/* 
@media screen and (max-width : 670px){

    .menu_icon{
        display: inline-flex;
    }

    #check:checked~.menu_icons #hamburger{
        display: none;
    }
    #check:checked~.menu_icons #close{
        display: block;
    }

    .navbar{
        position: absolute;
        top:10;
        left:0;
        width: 100%;
        height: calc(100vh - 158px);
        background-color: rgba(0,0,0,0.1);
        backdrop-filter: blur(40px)
    }



    .nav_navigation{
        display: flex;
        flex-direction: column;
        margin:0;
        padding:9;
        align-items: flex-start;
        margin-top: 7rem;
    }

    .nav_navigation > .navbtn{
        margin-top:0;
        margin-bottom: 3rem;
        padding:0;
        font-size: var(--fs-m);
        font-weight: var(--regular);
    }

    .menu_icon #close{
        display: none;
    } 



    .bot_nav, .line, .nav_language, .logo{
        display: none;
    }



} */











