@import url("https://use.typekit.net/ikh7fdp.css");

/* changing root element size */
html{
    font-size: 13px !important;
}
:root{
    --font-family: "articulate-cf", sans-serif;
    /* --text-base-size: 13px; */
    


    /*font-sizing*/

    --fs-xl: 4.62rem;  /*60 main title*/
    --fs-l: 2.7rem;   /* 30 section heading, footer heading, shopnow*/
    --fs-m: 2.31rem;   /* 25subtitle , feature list, recently view, product page title, footer heading*/
    --fs-s: 1.92rem;   /* 20Section sub, nav, mission state, feature desc, order summart*/
    --fs-xs: 1.54rem;  /* 15 prod name(expt prod page), cat name, item desc (in prod page), Page nav(title), btn (expt seemore, shopall), price, footer item*/
    --fs-xxs: 1.15rem; /* 13seemore bnt, language*/
    --fs-xxxs: 1rem;    /* 10prod desc (expt prod page),  cat on prod cards*/





    /* font weight*/

    --xbold: 900;
    --demibold: 700;
    --bold: 400;
    --regular: 500;
    --light: 300;

    --border-radius-gentle: 5px;
    --btn-radius-medium: 8px;
    --btn-radius-high: 10px;
  
    --btn-radius-higher: 20px;
    --btn-radius-highest: 50px;



    --spacing-title-desc: 0.5em;
    
    

    --linespace-main: 125%;
}


 @media screen and (max-width: 909px){

:root{

    --fs-xl: 50px;  
    --fs-l: 30px;   
    --fs-m: 25px;   
    --fs-s: 20px;  
    --fs-xs: 15px;  
    --fs-xxs: 13px; 
    --fs-xxxs: 13px;    


}

@media screen and (max-width: 700px){

    :root{
    
        --fs-xl: 30px; 
        --fs-l: 18px;   
        --fs-m: 15px;  
        --fs-s: 13px;   
        --fs-xs: 12px;  
        --fs-xxs: 10px; 
        --fs-xxxs: 13px;    
        --center-align: 25px 10%;
    }
} 

} 


